@import '../ComponentStylesMain.scss'; /* Importuj plik z definicją .content */

.startPage-content {
  @extend .content; /* Dziedziczenie stylów z klasy .content */
  background-color: #f0f0f0; /* Kolor tła dla pilot content */
  /* Inne style dla pilota */
}