.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background-color: #999;
  font-family: 'Arial', sans-serif; /* Wybór czcionki */
    z-index: 1000; /* Ustawienie wysokiej wartości z-index */
}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff; /* Kolor tekstu */
    cursor: pointer; /* Ustawienie standardowego kursora */
    font-size: 18px; /* Rozmiar tekstu */
  }

  .menu-list li.logo {
    float: right;
    padding: 10px 20px;
  }
  
  .menu-list li h1 {
      margin: 0; /* Usunięcie marginesu dla h1 */
  font-family: 'Roboto', sans-serif; /* Wybór innej czcionki */
  color: #ffcc00; /* Inny kolor tekstu */
  font-size: 24px; /* Inny rozmiar tekstu */
  }

  .connection-indicator {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
    margin-left: 10px;
    display: inline-block;
    }

    .connection-indicator span {
      display: inline-block;
      vertical-align: middle;
      margin-left: 25px; /* Dodatkowy margines między kropką a napisem */
    }

.disconnected {
    background-color: red;
}