@import '../ComponentStylesMain.scss';

.pilot-content {
  @extend .content;
  background-color: #f0f0f0;
}

.sliders {
  display: flex;
  flex-direction: column;
}

.slider-row {
  display: flex;
  flex-direction: row;
  align-items: center; /* Centrowanie elementów w rzędzie */
  margin-bottom: 10px; /* Odstęp między rzędami */
}
